<!DOCTYPE html>
<html lang="en" class="sl-theme-<%- theme %>">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="/public/shoelace/v<%= slversion%>/cdn/themes/<%- theme %>.css"/>
  <link href="/public/v<%= version%>/css/passweaver.css" rel="stylesheet">
  <title>PassWeaver</title>
</head>
<body>
  <script type="module" src="/public/shoelace/v<%= slversion%>/cdn/shoelace-autoloader.js"></script>
  <input type="hidden" id="v-user" value="<%= user %>" />