<!DOCTYPE html>
<html lang="en" class="wa-<%- theme %>">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="/public/webawesome/v<%= waversion %>/dist-cdn/styles/themes/default.css" />
  <link rel="stylesheet" href="/public/webawesome/v<%= waversion %>/dist-cdn/styles/webawesome.css" />
  <link href="/public/v<%= version%>/css/passweaver.css" rel="stylesheet">
  <title>PassWeaver</title>
</head>
<body>
  <script type="module" src="/public/webawesome/v<%= waversion %>/dist-cdn/webawesome.loader.js"></script>
  <input type="hidden" id="v-user" value="<%= user %>" />