<div class="page-sidebar">
  <div class="logo" title="PassWeaver">
    <img src="/public/v<%= version %>/images/passweaver-icon-light.png" width="36px"></img>
  </div>

  <input type="hidden" id="pageid" value="<%- pageid %>"></input>
  <div class="companyname">
    <%= company_name %>
  </div>
  <div class="username">
    <%= userdescription %>
  </div>
  <wa-divider></wa-divider>
  <% if ( !admin ) { %>
    <a href="/pages/items" title="Items" class="link" pageid="items">
      <wa-icon name="list"></wa-icon>
      Items
    </a>
    <a href="/pages/search" title="Search" class="link" pageid="search">
      <wa-icon name="search"></wa-icon>
      Search</a>
    </a>
  <% } %>
  <% if ( admin ) { %>
    <a href="/pages/folders" title="Folders" class="link" pageid="folders">
      <wa-icon name="folder-tree"></wa-icon>
      Folders
    </a>
    <a href="/pages/users" title="Users" class="link" pageid="users">
      <wa-icon name="person"></wa-icon>
      Users
    </a>
    <a href="/pages/groups" title="Groups" class="link" pageid="groups">
      <wa-icon name="user-group"></wa-icon>
      Groups
    </a>
  <% } %>
  <a href="/pages/generate" title="Generator" class="link" pageid="generate">
    <wa-icon name="wand-sparkles"></wa-icon>
    Generator
  </a>
  <a href="/pages/onetimesecret" title="One-time secret" class="link" pageid="onetimesecret">
    <wa-icon name="1"></wa-icon>
    1 time secret
  </a>
  <% if ( admin ) { %>
    <wa-divider></wa-divider>
    <a href="/pages/info" title="Info" class="link" pageid="info">
      <wa-icon name="info-circle"></wa-icon>
      Info
    </a>
    <a href="/pages/settings" title="Settings" class="link" pageid="settings">
      <wa-icon name="gear"></wa-icon>
      Settings
    </a>
  <% } %>
  <wa-divider></wa-divider>
  <a href="/pages/preferences" title="preferences" class="link" pageid="preferences">
    <wa-icon name="sliders" page="Logout"></wa-icon>
    Preferences
  </a>
  <a href="/logout" title="Logout" class="link" pageid="logout">
    <wa-icon name="right-from-bracket" page="Logout"></wa-icon>
    Logout
  </a>
  <div class="version">PassWeaver GUI v<%= version %><br><a href='https://steunix.github.io/passweaver-gui/' target="_blank">Documentation</a></div>
</div>
