<%- include('partials/header.ejs') %>

<div class="container-fluid v-container">

<div class="row">
  <%- include('partials/sidebar.ejs') %>
  <div class="col-sm min-vh-100">
    <%- include('partials/toasts.ejs') %>
    <%- include('partials/topbar.ejs') %>
    <%- include('partials/csfr.ejs') %>
    <div class="row">
    <div class="col-md-3">
      <h5>Folders</h5>
      <%- include('partials/folderstree.ejs') %>
    </div>
    <div class="col-md-auto">
      <h5>Groups</h5>
      <button id="addgroup" type="button" class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#grouppicker">Add group</button>
      <div class="mt-3 v-stickybottom shadow rounded">
        <table id="groupstable" class="table table-hover table-borderless w-auto">
        <thead>
          <tr class="sticky-top">
            <th>Actions</th>
            <th>Permission</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
      </div>
    </div>
    </div>
  </div>
</div>

<%- include('partials/commondialogs.ejs') %>
<%- include("partials/foldernew.ejs") %>
<%- include("partials/folderedit.ejs") %>

</div>

<script src="/public/js/folders.js"></script>

<%- include('partials/footer.ejs') %>