<%- include('partials/header.ejs') %>

<div class="page-container" id="page_folders">

  <%- include('partials/topbar.ejs') %>
  <%- include('partials/sidebar.ejs') %>
  <%- include('partials/csrf.ejs') %>

  <div class="main1">
    <h2>Folders</h2>
    <div style="display:flex;">
      <div style="display:flex;margin-right:1em;">
        <wa-input id="foldersearch" type="text" placeholder="Search folder" autofocus="autofocus" clearable>
          <wa-icon slot="prefix" name="search"></wa-icon>
        </wa-input>
        <wa-button title="Search previous" id="foldersearchprevious">
          <wa-icon slot="suffix" name="chevron-left"></wa-icon>
        </wa-button>
        <wa-button title="Search next" id="foldersearchnext">
          <wa-icon slot="suffix" name="chevron-right"></wa-icon>
        </wa-button>
      </div>
      <% if ( manage_folders ) { %>
        <wa-button-group>
          <wa-button pill id="foldercreate" type="button" title="New subfolder">
            <wa-icon slot="prefix" name="plus-lg"></wa-icon>
          </wa-button>
          <wa-button pill id="folderedit" type="button" title="Edit folder">
            <wa-icon slot="prefix" name="pencil"></wa-icon>
          </wa-button>
          <wa-button pill id="folderremove" type="button" variant="danger" title="Delete folder">
            <wa-icon slot="prefix" name="trash3"></wa-icon>
          </wa-button>
        </wa-button-group>
      <% } %>
    </div>
    <%- include('partials/folderstree.ejs') %>
  </div>

  <div class="main2">
    <h2><span id="sectiontitle">Groups</span></h2>
    <div style="display:flex;">
      <wa-button id="addgroup" title="Add a group to a folder">
        <wa-icon slot="prefix" name="plus-lg"></wa-icon>
        Add group
      </wa-button>
    </div>
    <table id="groupstable" style="display:inline-block; max-height: calc(100vh - var(--bottom-margin)); width: auto; overflow-y: auto;" class="bordered">
      <thead>
        <tr class="sticky">
          <th colspan="2">Actions</th>
          <th>Permission</th>
          <th>Group</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
</div>

<%- include('partials/commondialogs.ejs') %>
<%- include("partials/folderdialog.ejs") %>
<%- include("partials/picker.ejs") %>
</div>

<script defer type="module" src="/public/v<%= version %>/js/folders.js"></script>

<%- include('partials/footer.ejs') %>