<%- include('partials/header.ejs') %>

<div class="page-container">

  <%- include('partials/topbar.ejs') %>
  <%- include('partials/sidebar.ejs') %>
  <%- include('partials/csfr.ejs') %>

  <div class="main1">
    <h2>Folders</h2>
    <div style="display:flex;">
      <div style="display:flex;margin-right:1em;">
        <sl-input id="foldersearch" type="text" placeholder="Search folder" autofocus="autofocus" clearable>
          <sl-icon slot="suffix" name="search"></sl-icon>
        </sl-input>
        <sl-button title="Search previous" id="foldersearchprevious">
          <sl-icon slot="suffix" name="chevron-left"></sl-icon>
        </sl-button>
        <sl-button title="Search next" id="foldersearchnext">
          <sl-icon slot="suffix" name="chevron-right"></sl-icon>
        </sl-button>
      </div>
      <sl-button-group>
        <sl-button id="foldercreate" type="button" title="New subfolder">
          <sl-icon slot="prefix" name="plus-lg"></sl-icon>
        </sl-button>
        <sl-button id="folderedit" type="button" title="Edit folder">
          <sl-icon slot="prefix" name="pencil"></sl-icon>
        </sl-button>
        <sl-button id="folderremove" type="button" variant="danger" title="Delete folder">
          <sl-icon slot="prefix" name="trash3"></sl-icon>
        </sl-button>
      </sl-button-group>
    </div>
    <%- include('partials/folderstree.ejs') %>
  </div>

  <div class="main2">
    <h2>Groups</h2>
    <div style="display:flex;">
      <sl-button id="addgroup">
        <sl-icon slot="prefix" name="plus-lg"></sl-icon>
        Add group
      </sl-button>
    </div>
    <table id="groupstable">
      <thead>
        <tr class="sticky-top">
          <th colspan="2">Actions</th>
          <th>Permission</th>
          <th>Group</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
</div>

<%- include('partials/commondialogs.ejs') %>
<%- include("partials/foldernew.ejs") %>
<%- include("partials/folderedit.ejs") %>
<%- include("partials/grouppicker.ejs") %>
</div>

<script src="/public/js/folders_shared.js"></script>
<script src="/public/js/folders.js"></script>

<%- include('partials/footer.ejs') %>