<%- include('partials/header.ejs') %>

<div class="page-container" id="page_folders">

  <%- include('partials/topbar.ejs') %>
  <%- include('partials/sidebar.ejs') %>
  <%- include('partials/csrf.ejs') %>

  <div class="main1">
    <h4>Folders</h4>
    <div class="wa-flank:end">
      <wa-input id="foldersearch" type="text" placeholder="Search folder" autofocus="autofocus" with-clear>
        <wa-icon slot="start" name="search"></wa-icon>
        <wa-icon slot="end" title="Search previous" id="foldersearchprevious" name="angle-left"></wa-icon>
        <wa-icon slot="end" title="Search next" id="foldersearchnext" name="angle-right"></wa-icon>
      </wa-input>
      <% if ( manage_folders ) { %>
        <wa-button-group>
          <wa-button id="foldercreate" appearance="filled" variant="brand" title="New subfolder">
            <wa-icon name="plus" label="New subfolder"></wa-icon>
          </wa-button>
          <wa-button id="folderedit" appearance="filled" title="Edit folder">
            <wa-icon name="edit" label="Edit folder"></wa-icon>
          </wa-button>
          <wa-button id="folderremove" appearance="filled" variant="danger" title="Delete folder">
            <wa-icon name="trash" label="Delete folder"></wa-icon>
          </wa-button>
        </wa-button-group>
      <% } %>
    </div>
    <br/>
    <%- include('partials/folderstree.ejs') %>
  </div>

  <div class="main2">
    <h4><span id="sectiontitle">Groups</span></h4>
    <div style="display:flex;">
      <wa-button id="addgroup" title="Add a group to a folder" variant="brand">
        <wa-icon slot="start" name="plus"></wa-icon>
        Add group
      </wa-button>
    </div>
    <br/>
    <table id="groupstable" style="display:inline-block; max-height: calc(100vh - var(--bottom-margin)); width: auto; overflow-y: auto;">
      <thead>
        <tr class="sticky">
          <th colspan="2">Actions</th>
          <th>Permission</th>
          <th>Group</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
</div>

<%- include('partials/commondialogs.ejs') %>
<%- include("partials/folderdialog.ejs") %>
<%- include("partials/picker.ejs") %>
</div>

<script defer type="module" src="/public/v<%= version %>/js/folders.js"></script>
<script defer type="module" src="/public/v<%= version %>/js/searchbox.js"></script>

<%- include('partials/footer.ejs') %>