<%- include('partials/header.ejs') %>

<div class="page-container" id="page_folders">

  <%- include('partials/topbar.ejs') %>
  <%- include('partials/sidebar.ejs') %>
  <%- include('partials/csrf.ejs') %>

  <div class="main1">
    <h2>Folders</h2>
    <div style="display:flex;">
      <div style="display:flex;margin-right:1em;">
        <wa-input id="foldersearch" type="text" placeholder="Search folder" autofocus="autofocus" clearable>
          <wa-icon slot="prefix" name="search"></wa-icon>
          <wa-icon-button slot="suffix" title="Search previous" id="foldersearchprevious" name="angle-left"></wa-icon-button>
          <wa-icon-button slot="suffix" title="Search next" id="foldersearchnext" name="angle-right"></wa-icon-button>
        </wa-input>
      </div>
      <% if ( manage_folders ) { %>
        <wa-button-group>
          <wa-button pill id="foldercreate" appearance="outlined" variant="brand" title="New subfolder">
            <wa-icon name="plus"></wa-icon>
          </wa-button>
          <wa-button pill id="folderedit" appearance="outlined" title="Edit folder">
            <wa-icon name="edit"></wa-icon>
          </wa-button>
          <wa-button pill id="folderremove" appearance="outlined" variant="danger" title="Delete folder">
            <wa-icon name="trash"></wa-icon>
          </wa-button>
        </wa-button-group>
      <% } %>
    </div>
    <%- include('partials/folderstree.ejs') %>
  </div>

  <div class="main2">
    <h2><span id="sectiontitle">Groups</span></h2>
    <div style="display:flex;">
      <wa-button id="addgroup" title="Add a group to a folder" variant="brand">
        <wa-icon slot="prefix" name="plus"></wa-icon>
        Add group
      </wa-button>
    </div>
    <table id="groupstable" style="display:inline-block; max-height: calc(100vh - var(--bottom-margin)); width: auto; overflow-y: auto;">
      <thead>
        <tr class="sticky">
          <th colspan="2">Actions</th>
          <th>Permission</th>
          <th>Group</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
</div>

<%- include('partials/commondialogs.ejs') %>
<%- include("partials/folderdialog.ejs") %>
<%- include("partials/picker.ejs") %>
</div>

<script defer type="module" src="/public/v<%= version %>/js/folders.js"></script>
<script defer type="module" src="/public/v<%= version %>/js/searchbox.js"></script>

<%- include('partials/footer.ejs') %>