<%- include('partials/header.ejs') %>

<div class="page-container" id="page_generate">

  <%- include('partials/topbar.ejs') %>
  <%- include('partials/sidebar.ejs') %>

  <div class="main1">
    <h4>Generate secure password</h4>
    <div class="wa-stack">
    <wa-slider id="passwordlength" label="Password length" min="8" max="30" value="<%= passwordlength %>" with-markers with-tooltip>
      <span slot="reference">8</span>
      <span slot="reference">30</span>
    </wa-slider>
    <wa-input style="width:25em;" class="monospace" type="text" readonly="readonly" id="generatedpassword" label="With symbols">
      <wa-copy-button slot="end" title='Copy to clipboard' id="copypassword" from="generatedpassword.value"></wa-copy-button>
      <wa-button slot="end" size="small" appearance="plain" title='Generate a new password' id="generate">
        <wa-icon name="wand-sparkles" label="Generate a new password"></wa-icon>
      </wa-button>
      <wa-button slot="end" title='Generate a one time secret' size="small" appearance="plain" id="onetime">
        <wa-icon name="1" label="Generate a one time secret"></wa-icon>
      </wa-button>
    </wa-input>
    <wa-input style="width:25em;" class="monospace" type="text" readonly="readonly" id="generatedpasswordns" label="Without symbols">
      <wa-copy-button slot="end" title='Copy to clipboard' id="copypasswordns" from="generatedpasswordns.value"></wa-copy-button>
      <wa-button slot="end" size="small" appearance="plain" title='Generate a new password' id="generatens">
        <wa-icon name="wand-sparkles" label="Generate a new password"></wa-icon>
      </wa-button>
      <wa-button slot="end" title='Generate a one time secret' size="small" appearance="plain" id="onetimens">
        <wa-icon name="1" label="Generate a one time secret"></wa-icon>
      </wa-button>
    </wa-input>
    </div>
  </div>
</div>

<script defer type="module" src="/public/v<%= version %>/js/generate.js"></script>
<script defer type="module" src="/public/v<%= version %>/js/searchbox.js"></script>

<%- include('partials/commondialogs.ejs') %>
<%- include('partials/footer.ejs') %>