<%- include('partials/header.ejs') %>

<div class="page-container" id="page_generate">

  <%- include('partials/topbar.ejs') %>
  <%- include('partials/sidebar.ejs') %>

  <div class="main1">
    <h2>Generate secure password</h2>
    <h3>With symbols</h3>
    <wa-button-group>
      <wa-input type="text" style="width:15rem;" readonly="readonly" id="generatedpassword">
        <wa-copy-button slot="suffix" title='Copy to clipboard' id="copypassword" from="generatedpassword.value"></wa-copy-button>
      </wa-input>
      <wa-button title='Generate a new password' id="generate">
        <wa-icon name="magic" slot="prefix"></wa-icon>
      </wa-button>
      <wa-button title='Generate a one time secret' id="onetime">
        <wa-icon name="1-circle" slot="prefix"></wa-icon>
      </wa-button>
    </wa-button-group>
    <h3>Without symbols</h3>
    <wa-button-group>
      <wa-input type="text" style="width:15rem;" readonly="readonly" id="generatedpasswordns">
        <wa-copy-button slot="suffix" title='Copy to clipboard' id="copypasswordns" from="generatedpasswordns.value"></wa-copy-button>
      </wa-input>
      <wa-button title='Generate a new password' id="generatens">
        <wa-icon name="magic" slot="prefix"></wa-icon>
      </wa-button>
      <wa-button title='Generate a one time secret' id="onetimens">
        <wa-icon name="1-circle" slot="prefix"></wa-icon>
      </wa-button>
    </wa-button-group>
  </div>
</div>

<script defer type="module" src="/public/v<%= version %>/js/generate.js"></script>

<%- include('partials/commondialogs.ejs') %>
<%- include('partials/footer.ejs') %>