<%- include('partials/header.ejs') %>

<div class="page-container">

  <%- include('partials/topbar.ejs') %>
  <%- include('partials/sidebar.ejs') %>

  <div class="main1">
    <h2>Generate secure password</h2>
    <sl-button-group>
      <sl-input type="text" style="width:15rem;" readonly="readonly" id="generatedpassword"></sl-input>
      <sl-button title='Generate' id="generate">
        <sl-icon name="arrow-clockwise" slot="prefix"></sl-icon>
      </sl-button>
      <sl-copy-button title='Copy to clipboard' from="generatedpassword.value"></sl-copy-button>
    </sl-button-group>
  </div>
</div>

<script defer type="module" src="/public/js/generate.js"></script>

<%- include('partials/commondialogs.ejs') %>
<%- include('partials/footer.ejs') %>