<%- include('partials/header.ejs') %>

<div class="page-container" id="page_generate">

  <%- include('partials/topbar.ejs') %>
  <%- include('partials/sidebar.ejs') %>

  <div class="main1">
    <h2>Generate secure password</h2>
    <wa-input style="width:20rem;" type="text" readonly="readonly" id="generatedpassword" label="With symbols">
      <wa-copy-button slot="suffix" title='Copy to clipboard' id="copypassword" from="generatedpassword.value"></wa-copy-button>
      <wa-icon-button slot="suffix" name="wand-sparkles" title='Generate a new password' id="generate"></wa-icon-button>
      <wa-icon-button slot="suffix" name="1" title='Generate a one time secret' title='One-time share' id="onetime"></wa-icon-button>
    </wa-input>
    <wa-input style="width:20rem;" type="text" readonly="readonly" id="generatedpasswordns" label="Without symbols">
      <wa-copy-button slot="suffix" title='Copy to clipboard' id="copypasswordns" from="generatedpasswordns.value"></wa-copy-button>
      <wa-icon-button slot="suffix" name="wand-sparkles" title='Generate a new password' id="generatens"></wa-icon-button>
      <wa-icon-button slot="suffix" name="1" title='Generate a one time secret' title='One-time share' id="onetimens"></wa-icon-button>
    </wa-input>
  </div>
</div>

<script defer type="module" src="/public/v<%= version %>/js/generate.js"></script>

<%- include('partials/commondialogs.ejs') %>
<%- include('partials/footer.ejs') %>