<%- include('partials/header.ejs') %>

<div class="page-container" id="page_generate">

  <%- include('partials/topbar.ejs') %>
  <%- include('partials/sidebar.ejs') %>

  <div class="main1">
    <h2>Generate secure password</h2>
    <sl-range id="passwordlength" label="Password length" min="8" max="30" value="<%= passwordlength %>"></sl-range>
    <h3>With symbols</h3>
    <sl-button-group>
      <sl-input type="text" style="width:<%= passwordlength %>rem;" readonly="readonly" id="generatedpassword">
        <sl-copy-button slot="suffix" title='Copy to clipboard' id="copypassword" from="generatedpassword.value"></sl-copy-button>
      </sl-input>
      <sl-button title='Generate a new password' id="generate">
        <sl-icon name="magic" slot="prefix"></sl-icon>
      </sl-button>
      <sl-button title='Generate a one time secret' id="onetime">
        <sl-icon name="1-circle" slot="prefix"></sl-icon>
      </sl-button>
    </sl-button-group>
    <h3>Without symbols</h3>
    <sl-button-group>
      <sl-input type="text" style="width:<%= passwordlength %>rem;" readonly="readonly" id="generatedpasswordns">
        <sl-copy-button slot="suffix" title='Copy to clipboard' id="copypasswordns" from="generatedpasswordns.value"></sl-copy-button>
      </sl-input>
      <sl-button title='Generate a new password' id="generatens">
        <sl-icon name="magic" slot="prefix"></sl-icon>
      </sl-button>
      <sl-button title='Generate a one time secret' id="onetimens">
        <sl-icon name="1-circle" slot="prefix"></sl-icon>
      </sl-button>
    </sl-button-group>
  </div>
</div>

<script defer type="module" src="/public/v<%= version %>/js/generate.js"></script>
<script defer type="module" src="/public/v<%= version %>/js/searchbox.js"></script>

<%- include('partials/commondialogs.ejs') %>
<%- include('partials/footer.ejs') %>