<%- include('partials/header.ejs') %>

<div class="page-container" id="page_groups">

  <%- include('partials/topbar.ejs') %>
  <%- include('partials/sidebar.ejs') %>
  <%- include('partials/csrf.ejs') %>

  <div class="main1">
    <h2>Groups</h2>
    <div style="display:flex;">
      <div style="display:flex;margin-right:1em;">
        <wa-input id="groupsearch" type="text" placeholder="Search group" autofocus="autofocus" clearable>
          <wa-icon slot="prefix" name="search"></wa-icon>
        </wa-input>
        <wa-button title="Search previous" id="groupsearchprevious">
          <wa-icon slot="suffix" name="angle-left"></wa-icon>
        </wa-button>
        <wa-button title="Search next" id="groupsearchnext">
          <wa-icon slot="suffix" name="angle-right"></wa-icon>
        </wa-button>
      </div>
      <wa-button-group>
        <wa-button pill id="groupcreate" type="button" title="New group">
          <wa-icon slot="prefix" name="plus"></wa-icon>
        </wa-button>
        <wa-button pill id="groupedit" type="button" title="Edit group">
          <wa-icon slot="prefix" name="edit"></wa-icon>
        </wa-button>
        <wa-button pill id="groupremove" type="button" variant="danger" title="Remove group">
          <wa-icon slot="prefix" name="trash"></wa-icon>
        </wa-button>
        <wa-button pill id="groupfolders" type="button" title="Show folders">
          <wa-icon slot="prefix" name="folder-open"></wa-icon>
        </wa-button>
      </wa-button-group>
    </div>
    <%- include('partials/groupstree.ejs') %>
  </div>

  <div class="main2">
    <h2><span id="sectiontitle">Members</span></h2>
    <div style="display:flex;">
      <wa-button-group>
        <wa-button id="newmember">
          <wa-icon slot="prefix" name="plus-lg"></wa-icon>
          Add member
        </wa-button>
        <wa-button id="removeallmembers">
          <wa-icon slot="prefix" name="trash" variant="danger"></wa-icon>
          Remove all members
        </wa-button>
      </wa-button-group>
    </div>
    <table id="userstable" style="display:inline-block; max-height: calc(100vh - var(--bottom-margin)); width: auto; overflow-y: auto;" class="bordered">
      <thead>
        <tr class="sticky">
          <th>Actions</th>
          <th>Login</th>
          <th>Last name</th>
          <th>First name</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
</div>

<%- include('partials/commondialogs.ejs') %>
<%- include("partials/groupdialog.ejs") %>
<%- include("partials/picker.ejs") %>
<%- include("partials/folderstreedialog.ejs") %>

</div>

<script defer type="module" src="/public/v<%= version %>/js/groups.js"></script>

<%- include('partials/footer.ejs') %>