<%- include('partials/header.ejs') %>

<div class="page-container" id="page_groups">

  <%- include('partials/topbar.ejs') %>
  <%- include('partials/sidebar.ejs') %>
  <%- include('partials/csrf.ejs') %>

  <div class="main1">
    <h4>Groups</h4>
    <div style="display:flex;">
      <div style="display:flex;margin-right:1em;">
        <wa-input id="groupsearch" type="text" placeholder="Search group" autofocus="autofocus" clearable>
          <wa-icon slot="start" name="search"></wa-icon>
          <wa-icon slot="end" title="Search previous" id="groupsearchprevious" name="angle-left"></wa-icon>
          <wa-icon slot="end" title="Search next" id="groupsearchnext" name="angle-right"></wa-icon>
        </wa-input>
      </div>
      <wa-button-group>
        <wa-button pill id="groupcreate" appearance="outlined" title="New group" variant="brand">
          <wa-icon name="plus"></wa-icon>
        </wa-button>
        <wa-button pill id="groupedit" appearance="outlined" title="Edit group">
          <wa-icon name="edit"></wa-icon>
        </wa-button>
        <wa-button pill id="groupfolders" appearance="outlined" title="Show folders" variant="success">
          <wa-icon name="folder-tree"></wa-icon>
        </wa-button>
        <wa-button pill id="groupremove" appearance="outlined" variant="danger" title="Remove group">
          <wa-icon name="trash"></wa-icon>
        </wa-button>
      </wa-button-group>
    </div>
    <br/>
    <%- include('partials/groupstree.ejs') %>
  </div>

  <div class="main2">
    <h4><span id="sectiontitle">Members</span></h4>
    <div style="display:flex;">
      <wa-button-group>
        <wa-button id="newmember" appearance="outlined">
          <wa-icon slot="start" name="plus"></wa-icon>
          Add member
        </wa-button>
        <wa-button id="removeallmembers" appearance="outlined" variant="danger">
          <wa-icon slot="start" name="trash"></wa-icon>
          Remove all members
        </wa-button>
        <wa-button id="copyusers" type="button" appearance="outlined" title="Copy users">
          <wa-icon slot="start" name="copy"></wa-icon>
          Copy users
        </wa-button>
        <wa-button id="pasteusers" type="button" appearance="outlined" title="Paste users" style="display: none;">
          <wa-icon slot="start" name="paste"></wa-icon>
          Paste users
        </wa-button>
        <wa-button id="replaceusers" type="button" appearance="outlined" title="Replace users" style="display: none;">
          <wa-icon slot="start" name="clipboard-check"></wa-icon>
          Replace users
        </wa-button>
      </wa-button-group>
    </div>
    <br/>
    <table id="userstable" style="display:inline-block; max-height: calc(100vh - var(--bottom-margin)); width: auto; overflow-y: auto;">
      <thead>
        <tr class="sticky">
          <th>Actions</th>
          <th>Login</th>
          <th>Last name</th>
          <th>First name</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
</div>

<%- include('partials/commondialogs.ejs') %>
<%- include("partials/groupdialog.ejs") %>
<%- include("partials/picker.ejs") %>
<%- include("partials/folderstreedialog.ejs") %>

</div>

<script defer type="module" src="/public/v<%= version %>/js/groups.js"></script>

<%- include('partials/footer.ejs') %>