<%- include('partials/header.ejs') %>

<div class="page-container">

  <%- include('partials/topbar.ejs') %>
  <%- include('partials/sidebar.ejs') %>
  <%- include('partials/csrf.ejs') %>

  <div class="main1">
    <h2>Groups</h2>
    <div style="display:flex;">
      <div style="display:flex;margin-right:1em;">
        <sl-input id="groupsearch" type="text" placeholder="Search group" autofocus="autofocus" clearable>
          <sl-icon slot="prefix" name="search"></sl-icon>
        </sl-input>
        <sl-button title="Search previous" id="groupsearchprevious">
          <sl-icon slot="suffix" name="chevron-left"></sl-icon>
        </sl-button>
        <sl-button title="Search next" id="groupsearchnext">
          <sl-icon slot="suffix" name="chevron-right"></sl-icon>
        </sl-button>
      </div>
      <sl-button-group>
        <sl-button pill id="groupcreate" type="button" title="New group">
          <sl-icon slot="prefix" name="plus-lg"></sl-icon>
        </sl-button>
        <sl-button pill id="groupedit" type="button" title="Edit group">
          <sl-icon slot="prefix" name="pencil"></sl-icon>
        </sl-button>
        <sl-button pill id="groupremove" type="button" variant="danger" title="Remove group">
          <sl-icon slot="prefix" name="trash3"></sl-icon>
        </sl-button>
        <sl-button pill id="groupfolders" type="button" title="Show folders">
          <sl-icon slot="prefix" name="folder2-open"></sl-icon>
        </sl-button>
      </sl-button-group>
    </div>
    <%- include('partials/groupstree.ejs') %>
  </div>

  <div class="main2">
    <h2><span id="sectiontitle">Members</span></h2>
    <div style="display:flex;">
      <sl-button-group>
        <sl-button id="newmember">
          <sl-icon slot="prefix" name="plus-lg"></sl-icon>
          Add member
        </sl-button>
        <sl-button id="removeallmembers">
          <sl-icon slot="prefix" name="trash2" variant="danger"></sl-icon>
          Remove all members
        </sl-button>
      </sl-button-group>
    </div>
    <table id="userstable" style="display:inline-block; max-height: calc(100vh - var(--bottom-margin)); width: auto; overflow-y: auto;" class="bordered">
      <thead>
        <tr class="sticky">
          <th>Actions</th>
          <th>Login</th>
          <th>Last name</th>
          <th>First name</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
</div>

<%- include('partials/commondialogs.ejs') %>
<%- include("partials/groupnew.ejs") %>
<%- include("partials/groupedit.ejs") %>
<%- include("partials/picker.ejs") %>
<%- include("partials/folderstreedialog.ejs") %>

</div>

<script defer type="module" src="/public/v<%= version %>/js/groups.js"></script>

<%- include('partials/footer.ejs') %>