<%- include('partials/header.ejs') %>

<div class="page-container" id="page_info">

  <%- include('partials/topbar.ejs') %>
  <%- include('partials/sidebar.ejs') %>

  <div class="main1">
    <h4>Info</h4>
    <table>
      <tr>
        <td class="bold">PassWeaver GUI version</td><td><%= guiVersion %></td>
      </tr>
      <tr>
        <td class="bold">PassWeaver GUI started</td><td><%= guiStartup %> (UTC)</td>
      </tr>
      <tr>
        <td class="bold">PassWeaver API version</td><td><%= apiVersion %></td>
      </tr>
      <tr>
        <td class="bold">PassWeaver API started</td><td><%= apiStartup %> (UTC)</td>
      </tr>
      <tr>
        <td class="bold">Users</td><td><%= users %></td>
      </tr>
      <tr>
        <td class="bold">Folders</td><td><%= folders %></td>
      </tr>
      <tr>
        <td class="bold">Items</td><td><%= items %></td>
      </tr>
      <tr>
        <td class="bold">Cache provider</td><td><%= cacheProvider %></td>
      </tr>
      <tr>
        <td class="bold">Cache size</td><td><wa-format-bytes value="<%= cacheSize %>"></wa-format-bytes></td>
      </tr>
      <tr>
        <td class="bold">Internal HTTP cache size</td><td><wa-format-bytes value="<%= undiciCacheSize %>"></wa-format-bytes></td>
      </tr>
    </table>
    </div>
  </div>
</div>

</div>

<%- include('partials/footer.ejs') %>