<%- include('partials/header.ejs') %>

<div class="page-container">

  <%- include('partials/topbar.ejs') %>
  <%- include('partials/sidebar.ejs') %>

  <div class="main1">
    <h2>Info</h2>
    <table>
      <tr>
        <th>PassWeaver GUI version</th><td><%= guiVersion %></td>
      </tr>
      <tr>
        <th>PassWeaver GUI started</th><td><%= guiStartup %> (UTC)</td>
      </tr>
      <tr>
        <th>PassWeaver API version</th><td><%= apiVersion %></td>
      </tr>
      <tr>
        <th>PassWeaver API started</th><td><%= apiStartup %> (UTC)</td>
      </tr>
      <tr>
        <th>Users</th><td><%= users %></td>
      </tr>
      <tr>
        <th>Folders</th><td><%= folders %></td>
      </tr>
      <tr>
        <th>Items</th><td><%= items %></td>
      </tr>
      <tr>
        <th>Cache provider</th><td><%= cacheProvider %></td>
      </tr>
      <tr>
        <th>Cache size</th><td><sl-format-bytes value="<%= cacheSize %>"</sl-format-bytes></td>
      </tr>
    </table>
    </div>
  </div>
</div>

</div>

<%- include('partials/footer.ejs') %>