<%- include('partials/header.ejs') %>

<div class="page-container">

  <%- include('partials/topbar.ejs') %>
  <%- include('partials/sidebar.ejs') %>
  <%- include('partials/csfr.ejs') %>

  <div class="main1">
    <h2>Folders</h2>
    <div style="display:flex;">
      <div style="display:flex;margin-right:1em;">
        <sl-input id="foldersearch" type="text" placeholder="Search folder" autofocus="autofocus" clearable>
          <sl-icon slot="suffix" name="search"></sl-icon>
        </sl-input>
        <sl-button title="Search previous" id="foldersearchprevious">
          <sl-icon slot="suffix" name="chevron-left"></sl-icon>
        </sl-button>
        <sl-button title="Search next" id="foldersearchnext">
          <sl-icon slot="suffix" name="chevron-right"></sl-icon>
        </sl-button>
      </div>
      <sl-button-group>
        <sl-button id="foldercreate" type="button" title="New folder">
          <sl-icon slot="prefix" name="plus-lg"></sl-icon>
        </sl-button>
        <sl-button id="folderedit" type="button" title="Edit folder">
          <sl-icon slot="prefix" name="pencil"></sl-icon>
        </sl-button>
        <sl-button id="folderremove" type="button" variant="danger" title="Remove folder">
          <sl-icon slot="prefix" name="trash3"></sl-icon>
        </sl-button>
      </sl-button-group>
    </div>
    <%- include('partials/folderstree.ejs') %>
  </div>

  <div class="main2">
    <h2>Items</h2>
    <div style="display:flex;">
      <sl-button id="newitem" title="New item" disabled="disabled">
        <sl-icon slot="prefix" name="plus-lg"></sl-icon>
        New item
      </sl-button>
      <sl-input id="itemsearch" placeholder="Filter items" clearable>
        <sl-icon slot="suffix" name="search"></sl-icon>
      </sl-input>
    </div>
    <table id="itemstable" style="display:inline-block; max-height: calc(100vh - var(--bottom-margin)); width: auto; overflow-y: auto;" class="bordered">
      <thead>
        <tr class="sticky">
          <th>Actions</th>
          <th>Title</th>
          <th>User</th>
          <th>Copy</th>
          <th>Password</th>
          <th>Copy</th>
          <th>Show</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
</div>

<%- include('partials/commondialogs.ejs') %>
<%- include("partials/itemnew.ejs") %>
<%- include("partials/itemedit.ejs") %>
<%- include("partials/itemview.ejs") %>
<%- include("partials/foldernew.ejs") %>
<%- include("partials/folderedit.ejs") %>
<%- include("partials/personalpasswordnew.ejs") %>
<%- include("partials/personalpasswordset.ejs") %>

</div>

<script defer src="/public/js/folders_shared.js"></script>
<script defer src="/public/js/items.js"></script>

<%- include('partials/footer.ejs') %>

<% if ( viewitem ) { %>
<input type="hidden" id="viewitem" value="<%= viewitem %>"/>
<% } %>