<%- include('partials/header.ejs') %>

<div class="page-container" id="page_items">

  <%- include('partials/topbar.ejs') %>
  <%- include('partials/sidebar.ejs') %>
  <%- include('partials/csrf.ejs') %>

  <div class="main1">
    <h4>Folders</h4>
    <div style="display:flex; margin-bottom: 10px;">
      <div style="display:flex;margin-right:1em;">
        <wa-input id="foldersearch" type="text" placeholder="Search folder" autofocus="autofocus" with-clear>
          <wa-icon slot="start" name="search"></wa-icon>
          <wa-icon slot="end" title="Search previous" id="foldersearchprevious" name="angle-left"></wa-icon>
          <wa-icon slot="end" title="Search next" id="foldersearchnext" name="angle-right"></wa-icon>
        </wa-input>
      </div>
      <% if ( manage_folders ) { %>
        <wa-button-group>
          <wa-button pill id="foldercreate" type="button" variant="brand" appearance="outlined" title="New folder">
            <wa-icon name="plus" label="Create folder"></wa-icon>
          </wa-button>
          <wa-button pill id="folderedit" type="button" appearance="outlined" title="Edit folder">
            <wa-icon name="edit" label="Edit folder"></wa-icon>
          </wa-button>
          <wa-button pill id="folderremove" type="button" variant="danger" appearance="outlined" title="Remove folder">
            <wa-icon name="trash" label="Remove folder"></wa-icon>
          </wa-button>
        </wa-button-group>
      <% } %>
    </div>
    <%- include('partials/folderstree.ejs') %>
  </div>

  <div class="main2">
    <h4><wa-badge id="currentpermissions" pill style="vertical-align: middle; margin-right: 0.5em; padding-bottom: 0.2rem; padding-top: 0.2rem;"></wa-badge><span id="sectiontitle">Items</span></h4>
    <div style="display:flex; margin-bottom: 10px; align-items:center;">
      <wa-button id="newitem" title="New item" variant="brand" pill disabled>
        <wa-icon slot="start" name="plus"></wa-icon>
        New item
      </wa-button>
      <wa-input id="itemsearch" style="margin-left:1em;width:20rem;" placeholder="Filter items" with-clear>
        <wa-icon slot="start" name="search"></wa-icon>
      </wa-input>
      <wa-select id="typesearch" style="margin-left:1em;" name="typesearch" placeholder="Filter type" with-clear></wa-select>
      <wa-switch id="favorite" style="margin-left:1em;" label="Favorites only">Favorites only</wa-switch>
    </div>
    <table id="itemstable" style="display:inline-block; max-height: calc(100vh - var(--bottom-margin)); width: auto; overflow-y: auto;">
      <thead>
        <tr class="sticky">
          <th>Actions</th>
          <th>Type</th>
          <th>Title</th>
          <th>User</th>
          <th>Copy user</th>
          <th>Password</th>
          <th>Copy pwd</th>
          <th>Show</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
</div>

<%- include('partials/commondialogs.ejs') %>
<%- include("partials/itemdialog.ejs") %>
<%- include("partials/itemactivity.ejs") %>
<%- include("partials/folderdialog.ejs") %>
<%- include("partials/personalpasswordnew.ejs") %>
<%- include("partials/personalpasswordset.ejs") %>
<%- include("partials/scopeselect.ejs") %>
<%- include("partials/picker.ejs") %>
</div>

<script defer type="module" src="/public/v<%= version %>/js/items.js"></script>
<script defer type="module" src="/public/v<%= version %>/js/searchbox.js"></script>

<%- include('partials/footer.ejs') %>

<% if ( viewitem ) { %>
<input type="hidden" id="viewitem" value="<%= viewitem %>"/>
<% } %>