<%- include('partials/header.ejs') %>

<div class="container-fluid v-container">

<div class="row">
  <%- include('partials/sidebar.ejs') %>
  <div class="col-sm min-vh-100">
    <%- include('partials/toasts.ejs') %>
    <%- include('partials/topbar.ejs') %>
    <div class="row">
    <div class="col-md-3">
      <h5>Folders</h5>
      <button id="newfolder" type="button" class="btn btn-sm btn-primary" disabled="disabled" data-bs-toggle="modal" data-bs-target="#newfolderdialog"><span class='fa-solid fa-add'/></button>
      <button id="editfolder" type="button" class="btn btn-sm btn-secondary" disabled="disabled" data-bs-toggle="modal" data-bs-target="#editfolderdialog"><span class='fa-solid fa-pen'/></button>
      <button id="removefolder" type="button" class="btn btn-sm btn-danger" disabled="disabled" data-bs-toggle="modal" data-bs-target="#removefolderdialog"><span class='fa-solid fa-trash'/></button>
      <%- include('partials/folderstree.ejs') %>
    </div>
    <div class="col-md-auto">
      <h5>Items</h5>
      <button id="newitem" type="button" class="btn btn-sm btn-primary" disabled="disabled" data-bs-toggle="modal" data-bs-target="#newitemdialog">New item</button>
      <table id="itemstable" class="mt-3 table table-hover shadow rounded">
        <thead>
          <tr id="tableheader">
            <th></th>
            <th></th>
            <th></th>
            <th>Title</th>
            <th>Created at</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
    </div>
  </div>
</div>

<%- include("partials/itemnew.ejs") %>
<%- include("partials/itemremove.ejs") %>
<%- include("partials/itemedit.ejs") %>
<%- include("partials/itemview.ejs") %>
<%- include("partials/foldernew.ejs") %>
<%- include("partials/folderedit.ejs") %>
<%- include("partials/folderremove.ejs") %>

</div>

<script>
  $(()=>{
    $.get("/pages/folderstree", (resp)=>{
      $('#tree').bstreeview({ parentsMarginLeft: '1rem', indent: 1, data: resp.data })
      $('[role=treeitem]').on("click", folderClicked)

      // Open last used folder
      const last = localStorage.getItem("bstreeview_open_folderstree")
      if ( last ) {
        folderClicked(last)
      }
    })
  })
</script>
<script src="/public/js/items.js"></script>

<%- include('partials/footer.ejs') %>