<%- include('partials/header.ejs') %>

<div class="container-fluid v-container">

<div class="row">
  <%- include('partials/sidebar.ejs') %>
  <div class="col-sm min-vh-100">
    <%- include('partials/toasts.ejs') %>
    <%- include('partials/topbar.ejs') %>
    <%- include('partials/csfr.ejs') %>
    <div class="row">
    <div class="col-md-3">
      <h5>Folders</h5>
      <div class="d-flex">
        <button id="newfolder" type="button" title="New subfolder" class="btn btn-sm btn-primary flex-shrink-0 me-1" disabled="disabled" data-bs-toggle="modal" data-bs-target="#newfolderdialog"><span class='fa-solid fa-folder-plus'/></button>
        <button id="editfolder" type="button" title="Edit folder" class="btn btn-sm btn-secondary flex-shrink-0 me-1" disabled="disabled" data-bs-toggle="modal" data-bs-target="#editfolderdialog"><span class='fa-solid fa-pen'/></button>
        <button id="removefolder" type="button" title="Remove folder" class="btn btn-sm btn-danger flex-shrink-0 me-3" disabled="disabled"><span class='fa-solid fa-trash'/></button>
        <div class="input-group shadow rounded">
          <input id="foldersearch" type="text" class="form-control" placeholder="Search folder">
          <button class="btn btn-secondary" title="Search previous" type="button" id="foldersearchprevious"><span class="fa-solid fa-chevron-left"></span></button>
          <button class="btn btn-secondary" title="Search next" type="button" id="foldersearchnext"><span class="fa-solid fa-chevron-right"></span></button>
        </div>
      </div>
      <%- include('partials/folderstree.ejs') %>
    </div>
    <div class="col-md-auto">
      <h5>Items</h5>
      <div class="d-flex">
        <button id="newitem" type="button" title="New item" class="btn btn-sm btn-primary flex-shrink-0 me-3" disabled="disabled" data-bs-toggle="modal" data-bs-target="#newitemdialog">
          <span class="fa fa-file-circle-plus"></span>
        </button>
        <div class="input-group">
          <input id="itemsearch" type="text" class="form-control shadow rounded" placeholder="Filter items">
        </div>
      </div>
      <div class="mt-3 v-stickybottom shadow rounded">
        <table id="itemstable" class="table table-hover table-borderless w-auto">
        <thead>
          <tr class="sticky-top">
            <th>Actions</th>
            <th>Title</th>
            <th>User</th>
            <th>Copy</th>
            <th>Password</th>
            <th>Copy</th>
            <th>Show</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
      </div>
    </div>
    </div>
  </div>
</div>

<%- include('partials/commondialogs.ejs') %>
<%- include("partials/itemnew.ejs") %>
<%- include("partials/itemedit.ejs") %>
<%- include("partials/itemview.ejs") %>
<%- include("partials/foldernew.ejs") %>
<%- include("partials/folderedit.ejs") %>
<%- include("partials/personalpasswordnew.ejs") %>
<%- include("partials/personalpasswordset.ejs") %>

</div>

<script src="/public/js/items.js"></script>

<%- include('partials/footer.ejs') %>
<script src="/public/js/folders_shared.js"></script>

<% if ( viewitem ) { %>
<input type="hidden" id="viewitem" value="<%= viewitem %>"/>
<% } %>