<%- include('partials/header.ejs') %>

<div class="page-container" id="page_kms">

  <%- include('partials/topbar.ejs') %>
  <%- include('partials/sidebar.ejs') %>
  <%- include('partials/csrf.ejs') %>

  <div class="main1">
    <h4>Key Management Services</h4>
    <div style="display:flex; align-items: center; margin-bottom: 1rem;">
      <wa-input id="itemsearch" type="text" placeholder="Search" autofocus="autofocus" with-clear style="width:20rem;" size="small">
        <wa-icon slot="start" name="search"></wa-icon>
      </wa-input>
      <wa-button id="itemnew" type="button" title="Create a new KMS" variant="brand" style="margin-left:1em" size="small">
        <wa-icon slot="start" name="plus"></wa-icon>
        New KMS
      </wa-button>
    </div>
    <table id="itemstable" class="bordered" style="width: auto; display:block; max-height: calc(100vh - var(--bottom-margin)); overflow-y: auto;">
      <thead>
        <tr class="sticky">
          <th style="white-space:no-wrap;">Actions</th>
          <th>Description</th>
          <th>Type</th>
          <th>Active</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
</div>

<%- include('partials/commondialogs.ejs') %>
<%- include('partials/kmsdialog.ejs') %>

<script defer type="module" src="/public/v<%= version %>/js/kms.js"></script>
<script defer type="module" src="/public/v<%= version %>/js/searchbox.js"></script>

<%- include('partials/footer.ejs') %>