<%- include('partials/header.ejs') %>

<div class="login-container" id="page_login">
  <div class="login-content">
    <wa-card style="padding:2rem;">
      <center>
        <img src="/public/v<%= version %>/images/passweaver-icon-dark.png" width="60"></img>
        <p style="font-size:200%;">PassWeaver - <%- company_name %></p>
      </center>
      <form id="loginForm" action="access" method="post">
        <%- include('partials/csrf.ejs') %>
        <wa-input type="text" autofocus id="username" name="username" label="User" required></wa-input>
        <wa-input type="password" id="password" name="password" label="Password" required></wa-input>
        <% if ( viewitem ) { %>
          <input id="viewitem" name="viewitem" type="hidden" value="<%= viewitem %>"></input>
        <% } %>
        <center>
          <wa-button id="login" type="submit" variant="neutral" style="margin-top:1rem;">Login</wa-button>
          <% if ( error ) { %>
            <wa-alert variant="danger" open>
              <wa-icon slot="icon" name="exclamation-octagon"></wa-icon>
              <%= error %>
            </wa-alert>
          <% } %>
        </center>
      </form>
    </wa-card>
  </div>
</div>

<script defer type="module" src="/public/v<%= version %>/js/login.js"></script>

<%- include('partials/footer.ejs') %>