<%- include('partials/header.ejs') %>

<div class="container">
  <div class="row justify-content-center align-items-center text-center vh-100">
    <div class="col-md-4 p-5 shadow rounded-3 v-loginbg">
      <h3 class="mb-4"><strong>PassWeaver - <%- company_name %></strong></h3>
      <h5 class="mb-4">Login</h2>
      <form class="mb-3" id="loginForm" action="access" method="post">
        <%- include('partials/csfr.ejs') %>
        <div class="form-floating mb-3">
          <input type="text" class="form-control" autofocus id="username" name="username" placeholder="User">
          <label for="username">User</label>
        </div>
        <div class="form-floating mb-3">
          <input type="password" class="form-control" id="password" name="password" placeholder="password">
          <label for="password">Password</label>
        </div>
        <% if ( viewitem ) { %>
        <input id="viewitem" name="viewitem" type="hidden" value="<%= viewitem %>" />
        <% } %>
        <button id="login" type="submit" class="mb-3 btn btn-primary">Login</button>
        <% if ( error ) { %>
          <div class="mb-3 alert alert-danger">
            <%= error %>
          </div>
        <% } %>
      </form>
    </div>
  </div>
</div>

<script src="/public/js/login.js"></script>

<%- include('partials/footer.ejs') %>