<%- include('partials/header.ejs') %>

<div class="page-container" id="page_onetimesecret">

  <%- include('partials/topbar.ejs') %>
  <%- include('partials/sidebar.ejs') %>
  <%- include('partials/csrf.ejs') %>

  <div class="main1">
    <h2>One time secret</h2>
    <p>Share a secret: the link provided will allow your peer to read the secret data you are sharing.</p>
    <p><strong>The generated link will expire in <%= expire_human %>, and it will work only once.</strong></p>
    <p>Type the secret to share and click on "Create link" button</p>
    <wa-textarea id="data" name="data" autofocus value="<%= data %>"></wa-textarea>
    <wa-divider></wa-divider>
    <p>Select who you want to share this secret with:</p>
    <wa-radio-group id="scope" orientation="horizontal" name="scope" value="0">
      <wa-radio-button value="0" selected>Anyone</wa-radio-button>
      <wa-radio-button value="1">Anyone logged in PassWeaver</wa-radio-button>
      <wa-radio-button value="2">A single PassWeaver user</wa-radio-button>
    </wa-radio-group>
    <br />
    <div id="selectuser" style="display: none;">
      <wa-input style="display: none;" id="scopeuser"></wa-input>
      <wa-button id="searchuser" variant="warning">Select user</wa-button>
      <wa-input id="scopeuserdesc" readonly></wa-input>
    </div>
    <wa-divider></wa-divider>
    <wa-button id='save' variant="brand" disabled>Create link</wa-button>
    <div id="result" style="display: none;">
      <wa-divider></wa-divider>
      <wa-input id='link' name='link' readonly style="width:50em;" label="Copy the link below to share the secret.">
        <wa-copy-button slot="suffix" title='Copy to clipboard' from="link.value"></wa-copy-button>
      </wa-input>
    </div>
  </div>
</div>

</div>

<script defer type="module" src="/public/v<%= version %>/js/onetimesecret.js"></script>

<%- include('partials/commondialogs.ejs') %>
<%- include("partials/picker.ejs") %>

<%- include('partials/footer.ejs') %>