<%- include('partials/header.ejs') %>

<div class="page-container">

  <%- include('partials/topbar.ejs') %>
  <%- include('partials/sidebar.ejs') %>
  <%- include('partials/csrf.ejs') %>

  <div class="main1">
    <h2>One time secret</h2>
    <p>Share a secret with someone: the link provided will allow your mate to get the secret data.</p>
    <p><strong>The link can be clicked only once, and will expire in 7 days</strong></p>
    <sl-textarea id="data" name="data"></sl-textarea>
    <sl-divider></sl-divider>
    <sl-button id='save' variant="primary">Create link</sl-button>
    <div id="result" style="visibility: hidden;">
      <sl-divider></sl-divider>
      <p>Copy the link below to share the secret.</p>
      <sl-button-group>
        <sl-input id='link' name='link' disabled style="width:50em;"></sl-input>
        <sl-copy-button from="link.value"></sl-copy-button>
      </sl-button-group>
    </div>
  </div>
</div>

</div>

<script defer type="module" src="/public/js/onetimesecret.js"></script>

<%- include('partials/commondialogs.ejs') %>

<%- include('partials/footer.ejs') %>