<%- include('partials/header.ejs') %>

<div class="page-container">

  <%- include('partials/topbar.ejs') %>
  <% if ( user ) { %>
    <%- include('partials/sidebar.ejs') %>
  <% } else { %>
    <%- include('partials/sidebar-anon.ejs') %>
  <% } %>

  <div class="main1">
    <h2>One time secret</h2>
    <p>This is a one-time-secret generated for you via PassWeaver: as you click "Show secret" to view it, <strong style="color:red;">it will be permanently deleted!</strong></p>
    <sl-textarea id="data" name="data" data-token="<%- token %>" readonly></sl-textarea>
    <sl-button id='show' variant="primary">Show secret</sl-button>
  </div>
</div>

</div>

<script defer type="module" src="/public/js/onetimesecretshow.js"></script>

<%- include('partials/commondialogs.ejs') %>

<%- include('partials/footer.ejs') %>