<%- include('partials/header.ejs') %>

<div class="page-container">

  <%- include('partials/topbar.ejs') %>
  <%- include('partials/sidebar.ejs') %>
  <%- include('partials/csrf.ejs') %>

  <div class="main1">
    <h2>One time secret</h2>
    <p>Share a secret: the link provided will allow your peer to read the secret data you are sharing.</p>
    <p><strong>The generated link is public and will expire in <%= expire_human %>, and it will work only once.</strong></p>
    <p>Type the secret to share and click on "Create link" button</p>
    <sl-textarea id="data" name="data" autofocus></sl-textarea>
    <sl-divider></sl-divider>
    <sl-button id='save' variant="primary" disabled>Create link</sl-button>
    <div id="result" style="visibility: hidden;">
      <sl-divider></sl-divider>
      <p>Copy the link below to share the secret.</p>
      <sl-button-group>
        <sl-input id='link' name='link' readonly style="width:50em;"></sl-input>
        <sl-copy-button from="link.value"></sl-copy-button>
      </sl-button-group>
    </div>
  </div>
</div>

</div>

<script defer type="module" src="/public/js/onetimesecret.js"></script>

<%- include('partials/commondialogs.ejs') %>

<%- include('partials/footer.ejs') %>