<%- include('partials/header.ejs') %>

<div class="page-container" id="page_onetimesecretshow">

  <%- include('partials/topbar.ejs') %>
  <% if ( user ) { %>
    <%- include('partials/sidebar.ejs') %>
  <% } else { %>
    <%- include('partials/sidebar-anon.ejs') %>
  <% } %>

  <div class="main1">
    <h2>One time secret</h2>
    <p>This is a one time secret generated for you via PassWeaver: after you click on "Show secret" to view it,
      <strong>it will be consumed</strong> and you won't be able to access it again.
    </p>
    <wa-button id='show' variant="brand">Show secret</wa-button>
    <wa-input style="display:none;" name='token' id='token' data-token="<%- token %>"></wa-input>
    <div id="result0" style="visibility: hidden; display: none;">
      <wa-divider></wa-divider>
      <p>Here is the secret, copy it to clipboard with the button below.</p>
      <wa-textarea id="secret" name="secret" readonly></wa-textarea>
      <p id="copy">
        Copy secret: <wa-copy-button title='Copy to clipboard' from="secret.value"></wa-copy-button>
      </p>
    </div>
    <div id="result1" style="visibility: hidden; display: none;">
      <wa-divider></wa-divider>
      <p>Here is the item that has been shared with you.</p>
      <wa-input label="Title" id="itemtitle" name="itemtitle" readonly></wa-input>
      <wa-textarea label="Description" id="itemdescription" name="itemdescription" readonly></wa-textarea>
      <wa-input label="Email" id="itememail" name="itememail" readonly>
        <wa-copy-button slot="suffix" title='Copy to clipboard' from="itememail.value"></wa-copy-button>
      </wa-input>
      <wa-input label="URL / Host" id="itemurl" name="itemurl" readonly>
        <wa-copy-button slot="suffix" title='Copy to clipboard' from="itemurl.value"></wa-copy-button>
      </wa-input>
      <wa-input label="User" id="itemuser" name="itemuser" readonly>
        <wa-copy-button slot="suffix" title='Copy to clipboard' from="itemuser.value"></wa-copy-button>
      </wa-input>
      <wa-input label="Password" id="itempassword" name="itempassword" type="password" password-toggle readonly>
        <wa-copy-button slot="suffix" title='Copy to clipboard' id="itemcopypassword" from="itempassword.value"></wa-copy-button>
      </wa-input>
    </div>
  </div>
</div>

</div>

<script defer type="module" src="/public/v<%= version %>/js/onetimesecretshow.js"></script>
<% if ( user ) { %>
  <script defer type="module" src="/public/v<%= version %>/js/searchbox.js"></script>
<% } %>

<%- include('partials/commondialogs.ejs') %>

<%- include('partials/footer.ejs') %>