<%- include('partials/header.ejs') %>

<div class="page-container">

  <%- include('partials/topbar.ejs') %>
  <% if ( user ) { %>
    <%- include('partials/sidebar.ejs') %>
  <% } else { %>
    <%- include('partials/sidebar-anon.ejs') %>
  <% } %>

  <div class="main1">
    <h2>One time secret</h2>
    <p>This is a one time secret generated for you via PassWeaver: after you click on "Show secret" to view it,
      <strong>it will be consumed</strong> and you won't be able to access it again.
    </p>
    <sl-button id='show' variant="primary">Show secret</sl-button>
    <div id="result" style="visibility: hidden;">
      <sl-textarea id="data" name="data" data-token="<%- token %>" readonly></sl-textarea>
      <p id="copy">
        Copy secret: <sl-copy-button from="data.value"></sl-copy-button>
      </p>
    </div>
  </div>
</div>

</div>

<script defer type="module" src="/public/js/onetimesecretshow.js"></script>

<%- include('partials/commondialogs.ejs') %>

<%- include('partials/footer.ejs') %>