<%- include('partials/header.ejs') %>

<div class="page-container">

  <%- include('partials/topbar.ejs') %>
  <% if ( user ) { %>
    <%- include('partials/sidebar.ejs') %>
  <% } else { %>
    <%- include('partials/sidebar-anon.ejs') %>
  <% } %>

  <div class="main1">
    <h2>One time secret</h2>
    <p>This is a one time secret generated for you via PassWeaver: after you click on "Show secret" to view it,
      <strong>it will be consumed</strong> and you won't be able to access it again.
    </p>
    <sl-button id='show' variant="primary">Show secret</sl-button>
    <sl-visually-hidden name='token' id='token' data-token="<%- token %>"></sl-visually-hidden>
    <div id="result0" style="visibility: hidden; display: none;">
      <sl-divider></sl-divider>
      <p>Here is the secret, copy it to clipboard with the button below.</p>
      <sl-textarea id="secret" name="secret" readonly></sl-textarea>
      <p id="copy">
        Copy secret: <sl-copy-button title='Copy to clipboard' from="secret.value"></sl-copy-button>
      </p>
    </div>
    <div id="result1" style="visibility: hidden; display: none;">
      <sl-divider></sl-divider>
      <p>Here is the item that has been shared with you.</p>
      <sl-input label="Title" id="itemtitle" name="itemtitle" readonly></sl-input>
      <sl-textarea label="Description" id="itemdescription" name="itemdescription" readonly></sl-textarea>
      <sl-input label="Email" id="itememail" name="itememail" readonly>
        <sl-copy-button slot="suffix" title='Copy to clipboard' from="itememail.value"></sl-copy-button>
      </sl-input>
      <sl-input label="URL / Host" id="itemurl" name="itemurl" readonly>
        <sl-copy-button slot="suffix" title='Copy to clipboard' from="itemurl.value"></sl-copy-button>
      </sl-input>
      <sl-input label="User" id="itemuser" name="itemuser" readonly>
        <sl-copy-button slot="suffix" title='Copy to clipboard' from="itemuser.value"></sl-copy-button>
      </sl-input>
      <sl-input label="Password" id="itempassword" name="itempassword" type="password" password-toggle readonly>
        <sl-copy-button slot="suffix" title='Copy to clipboard' id="itemcopypassword" from="itempassword.value"></sl-copy-button>
      </sl-input>
    </div>
  </div>
</div>

</div>

<script defer type="module" src="/public/v<%= version %>/js/onetimesecretshow.js"></script>

<%- include('partials/commondialogs.ejs') %>

<%- include('partials/footer.ejs') %>