<%- include('partials/header.ejs') %>

<div class="page-container" id="page_preferences">

  <%- include('partials/topbar.ejs') %>
  <%- include('partials/sidebar.ejs') %>
  <%- include('partials/csrf.ejs') %>

  <div class="main1">
    <wa-tab-group>
      <wa-tab slot="nav" panel="preferences">Preferences</wa-tab>
      <wa-tab slot="nav" panel="password">Password</wa-tab>
      <wa-tab slot="nav" panel="ppassword">Personal folder password</wa-tab>

      <wa-tab-panel name="preferences">
        <wa-select id='theme' label="Choose a theme">
          <wa-option value="light">Light</wa-option>
          <wa-option value="dark">Dark</wa-option>
        </wa-select>
        <br/>
        <wa-button id='save' variant="brand">Save</wa-button>
      </wa-tab-panel>

      <wa-tab-panel name="password">
        <% if ( authmethod=="local" ) { %>
        <h2>Change password</h2>
        <h5>At least 8 characters</h5>
        <wa-input id="newpassword1" type="password" password-toggle label="New password"></wa-input>
        <wa-input id="newpassword2" type="password" password-toggle label="Confirm new password"></wa-input>
        <wa-button id='passwordchange' variant="brand" disabled>Change password</wa-button>
        <% } else { %>
          <p>Password cannot be changed from here, ask your administrator</p>
        <% } %>
      </wa-tab-panel>

      <wa-tab-panel name="ppassword">
        <% if ( !admin ) { %>
          <% if ( unlocked ) { %>
            <h2>Change personal folder password</h2>
            <h5>At least 8 characters</h5>
            <table>
              <tr>
                <th>New password</th>
                <td>
                  <wa-input id="pnewpassword1" type="password" password-toggle></wa-input>
                </td>
              </tr>
              <tr>
                <th>Confirm new password</th>
                <td>
                  <wa-input id="pnewpassword2" type="password" password-toggle></wa-input>
                </td>
              </tr>
            </table>
            <wa-divider></wa-divider>
            <wa-button id='ppasswordchange' variant="brand" disabled>Change password</wa-button>
          <% } else { %>
            <p>In order to change your personal password, you have to unlock your personal folder first</p>
            <hr>
            <wa-card>
              <div slot="header">
                <span><strong>Have you lost your personal password?</strong></span>
              </div>
              <p>You can reset your personal password, but...</p>
              <wa-callout open variant="danger">
                <strong>WARNING!!!</strong><br/>Resetting your personal password will make all your personal items IRREMEDIABLY inaccessible and you will have to delete them.
              </wa-callout>
              <br/>
              <wa-switch id="presetswitch">I'm sure, enable the button below</wa-switch>
              <br/>
              <br/>
              <wa-button id="preset" variant="danger" disabled>Reset personal password</wa-button>
            </wa-card>
          <% } %>
        <% } else { %>
          <p>Admins don't have personal folders </p>
        <% } %>
      </wa-tab-panel>

    </wa-tab-group>
  </div>
</div>

</div>

<script defer type="module" src="/public/v<%= version %>/js/preferences.js"></script>
<script defer type="module" src="/public/v<%= version %>/js/searchbox.js"></script>

<%- include('partials/commondialogs.ejs') %>

<%- include('partials/footer.ejs') %>