<%- include('partials/header.ejs') %>

<div class="page-container" id="page_search">

  <%- include('partials/topbar.ejs') %>
  <%- include('partials/sidebar.ejs') %>
  <%- include('partials/csrf.ejs') %>

  <div class="main1">
    <h2>Search items</h2>
    <div style="display:flex;">
      <sl-input id="itemsearch" type="text" placeholder="Search items" autofocus="autofocus" clearable style="width:20rem;" value="<%= search %>">
        <sl-icon slot="prefix" name="search"></sl-icon>
      </sl-input>
      <sl-select id="typesearch" style="margin-left:1em;" name="typesearch" placeholder="Filter type" clearable></sl-select>
    </div>
    <table id="itemstable" class="bordered" style="display:block; max-height: calc(100vh - var(--bottom-margin)); overflow-y: auto;">
      <thead>
        <tr class="sticky">
          <th style="white-space:no-wrap;">Actions</th>
          <th>Folder</th>
          <th>Type</th>
          <th>Title</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
</div>

<%- include('partials/commondialogs.ejs') %>
<%- include('partials/itemview.ejs') %>

<script defer type="module" src="/public/v<%= version %>/js/search.js"></script>

<%- include('partials/footer.ejs') %>