<%- include('partials/header.ejs') %>

<div class="page-container" id="page_search">

  <%- include('partials/topbar.ejs') %>
  <%- include('partials/sidebar.ejs') %>
  <%- include('partials/csrf.ejs') %>

  <div class="main1">
    <h4>Search items</h4>
    <div style="display:flex; align-items: center; margin-bottom: 1rem;">
      <wa-input id="itemsearch" type="text" placeholder="Search items" autofocus="autofocus" with-clear style="width:20rem;" value="<%= search %>" size="small" autocomplete="off">
        <wa-icon slot="start" name="search"></wa-icon>
      </wa-input>
      <wa-select id="typesearch" style="margin-left:1em;" name="typesearch" placeholder="Filter type" with-clear size="small"></wa-select>
      <wa-switch id="favorite" style="margin-left:1em;" label="Favorites only" size="small">Favorites only</wa-switch>
    </div>
    <table id="itemstable" style="display:block; max-height: calc(100vh - var(--bottom-margin)); overflow-y: auto;">
      <thead>
        <tr class="sticky">
          <th style="white-space:no-wrap;">Actions</th>
          <th>Folder</th>
          <th>Type</th>
          <th>Title</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
</div>

<%- include('partials/commondialogs.ejs') %>
<%- include('partials/itemview.ejs') %>
<%- include('partials/itemactivity.ejs') %>

<script defer type="module" src="/public/v<%= version %>/js/search.js"></script>
<script defer type="module" src="/public/v<%= version %>/js/searchbox.js"></script>

<%- include('partials/footer.ejs') %>