<%- include('partials/header.ejs') %>

<div class="page-container">

  <%- include('partials/topbar.ejs') %>
  <%- include('partials/sidebar.ejs') %>
  <%- include('partials/csfr.ejs') %>

  <div class="main1">
    <h2>Search items</h2>
    <sl-input id="itemsearch" type="text" placeholder="Search items" autofocus="autofocus" clearable>
      <sl-icon slot="suffix" name="search"></sl-icon>
    </sl-input>
    <table id="itemstable" class="bordered" style="display:block; max-height: calc(100vh - var(--bottom-margin)); overflow-y: auto;">
      <thead>
        <tr class="sticky">
          <th>Actions</th>
          <th>Folder</th>
          <th>Title</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
</div>

<%- include('partials/commondialogs.ejs') %>
<%- include('partials/itemview.ejs') %>

<script defer src="/public/js/search.js"></script>

<%- include('partials/footer.ejs') %>