<%- include('partials/header.ejs') %>

<div class="page-container">

  <%- include('partials/topbar.ejs') %>
  <%- include('partials/sidebar.ejs') %>
  <%- include('partials/csrf.ejs') %>

  <div class="main1" >
    <h2>Item types</h2>
    <div style="display: flex;">
      <sl-button id="additemtype" type="button" title="Add type">
        <sl-icon slot="prefix" name="plus-lg"></sl-icon>
        Add type
      </sl-button>
    </div>
    <table id="itemtypestable" class="bordered" style="display:block; max-height: calc(100vh - var(--bottom-margin)); overflow-y: auto;">
      <thead>
        <tr class="sticky">
          <th colspan="2">Actions</th>
          <th>Description</th>
          <th>Icon name</th>
          <th>Icon</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>

</div>

<%- include('partials/commondialogs.ejs') %>
<%- include('partials/itemtypenew.ejs') %>
<%- include('partials/itemtypeedit.ejs') %>

</div>

<script defer type="module" src="/public/js/settings.js"></script>

<%- include('partials/footer.ejs') %>