<%- include('partials/header.ejs') %>

<div class="page-container" id="page_settings">

  <%- include('partials/topbar.ejs') %>
  <%- include('partials/sidebar.ejs') %>
  <%- include('partials/csrf.ejs') %>

  <div class="main1" >
    <wa-tab-group>
      <wa-tab slot="nav" panel="cache">Cache</wa-tab>
      <wa-tab slot="nav" panel="readonly">Readonly</wa-tab>
      <wa-tab slot="nav" panel="systemlock">Lock system</wa-tab>

      <wa-tab-panel name="cache">
        <wa-button id="clearcache" type="button" variant="danger" title="Clear cache">Clear cache</wa-button>
      </wa-tab-panel>

      <wa-tab-panel name="readonly">
        <wa-callout open variant="neutral" id="readonlystatus">Readonly is in unknown state</wa-callout>
        <br/>
        <wa-button id="readonlymode" type="button" variant="danger" title="Set readonly mode">Set readonly mode</wa-button>
        <wa-button id="readwritemode" type="button" variant="brand" title="Set readwrite mode">Set readwrite mode</wa-button>
      </wa-tab-panel>

      <wa-tab-panel name="systemlock">
        <wa-callout open variant="neutral" id="systemlockstatus">System lock is in unknown state</wa-callout>
        <br/>
        <wa-button id="systemlock" type="button" variant="danger" title="Lock system">Lock system</wa-button>
        <wa-button id="systemunlock" type="button" variant="brand" title="Unlock system">Unlock system</wa-button>
      </wa-tab-panel>

    </wa-tab-group>
  </div>

</div>

<%- include('partials/commondialogs.ejs') %>

</div>

<script defer type="module" src="/public/v<%= version %>/js/settings.js"></script>

<%- include('partials/footer.ejs') %>