<%- include('partials/header.ejs') %>

<div class="page-container" id="page_settings">

  <%- include('partials/topbar.ejs') %>
  <%- include('partials/sidebar.ejs') %>
  <%- include('partials/csrf.ejs') %>

  <div class="main1" >
    <sl-tab-group>
      <sl-tab slot="nav" panel="itemtypes">Item types</sl-tab>
      <sl-tab slot="nav" panel="cache">Cache</sl-tab>
      <sl-tab slot="nav" panel="readonly">Readonly</sl-tab>
      <sl-tab slot="nav" panel="systemlock">Lock system</sl-tab>

      <sl-tab-panel name="itemtypes">
        <div style="display: flex;">
          <sl-button id="additemtype" type="button" title="Add type">
            <sl-icon slot="prefix" name="plus-lg"></sl-icon>
            New item type
          </sl-button>
        </div>
        <table id="itemtypestable" class="bordered" style="display:block; max-height: calc(100vh - var(--bottom-margin)); overflow-y: auto;">
          <thead>
            <tr class="sticky">
              <th colspan="2">Actions</th>
              <th>Description</th>
              <th>Icon name</th>
              <th>Icon</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </sl-tab-panel>

      <sl-tab-panel name="cache">
        <sl-button id="clearcache" type="button" variant="danger" title="Clear cache">Clear cache</sl-button>
      </sl-tab-panel>

      <sl-tab-panel name="readonly">
        <sl-alert open variant="neutral" id="readonlystatus">Readonly is in unknown state</sl-alert>
        <br/>
        <sl-button id="readonlymode" type="button" variant="danger" title="Set readonly mode">Set readonly mode</sl-button>
        <sl-button id="readwritemode" type="button" variant="primary" title="Set readwrite mode">Set readwrite mode</sl-button>
      </sl-tab-panel>

      <sl-tab-panel name="systemlock">
        <sl-alert open variant="neutral" id="systemlockstatus">System lock is in unknown state</sl-alert>
        <br/>
        <sl-button id="systemlock" type="button" variant="danger" title="Lock system">Lock system</sl-button>
        <sl-button id="systemunlock" type="button" variant="primary" title="Unlock system">Unlock system</sl-button>
      </sl-tab-panel>

    </sl-tab-group>
  </div>

</div>

<%- include('partials/commondialogs.ejs') %>
<%- include('partials/itemtypenew.ejs') %>
<%- include('partials/itemtypeedit.ejs') %>

</div>

<script defer type="module" src="/public/v<%= version %>/js/settings.js"></script>

<%- include('partials/footer.ejs') %>