<%- include('partials/header.ejs') %>

<div class="container-fluid v-container">

<div class="row">
  <%- include('partials/sidebar.ejs') %>
  <div class="col-sm min-vh-100">
    <%- include('partials/toasts.ejs') %>
    <%- include('partials/topbar.ejs') %>
    <%- include('partials/csfr.ejs') %>
    <div class="row">
    <div class="col-md-auto">
      <h5>Stats</h5>
      <ul>
        <li>Vaulted GUI version: <%= guiVersion %></li>
        <li>Vaulted GUI started: <%= guiStartup %> (UTC)</li>
        <li>Vaulted API version: <%= apiVersion %></li>
        <li>Vaulted API started: <%= apiStartup %> (UTC)</li>
        <li>Users: <%= users %></li>
        <li>Folders: <%= folders %></li>
        <li>Items: <%= items %></li>
        <li>Cache size: <%= cacheSize %></li>
      </ul>
    </div>
    </div>
  </div>
</div>

</div>

<%- include('partials/footer.ejs') %>