<%- include('partials/header.ejs') %>

<div class="page-container">

  <%- include('partials/topbar.ejs') %>
  <%- include('partials/sidebar.ejs') %>
  <%- include('partials/csrf.ejs') %>

  <div class="main1" >
    <h2>Users</h2>
    <div style="display:flex;">
      <sl-input id="usersearch" type="text" placeholder="Search users" autofocus="autofocus" clearable>
        <sl-icon slot="prefix" name="search"></sl-icon>
      </sl-input>
      <sl-button id="newuser" type="button" title="Create a new user" style="margin-left:1em">
        <sl-icon slot="prefix" name="plus-lg"></sl-icon>
        New user
      </sl-button>
    </div>
    <table id="userstable" class="bordered" style="display:block; max-height: calc(100vh - var(--bottom-margin)); overflow-y: auto;">
      <thead>
        <tr class="sticky">
          <th colspan="2">Actions</th>
          <th>Login</th>
          <th>Last name</th>
          <th>First name</th>
          <th>Email</th>
          <th>Locale</th>
          <th>Auth method</th>
          <th>Active</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>

  <div class="main2">
    <h2>Groups</h2>
    <div style="display: flex;">
      <sl-button-group>
        <sl-button id="addgroup" type="button" title="Add group membership">
          <sl-icon slot="prefix" name="plus-lg"></sl-icon>
          Add group
        </sl-button>
        <sl-button id="copygroups" type="button" title="Copy groups">
          <sl-icon slot="prefix" name="copy"></sl-icon>
          Copy groups
        </sl-button>
        <sl-button id="pastegroups" type="button" title="Paste groups" style="display: none;">
          <sl-icon slot="prefix" name="clipboard-plus"></sl-icon>
          Paste groups
        </sl-button>
        <sl-button id="replacegroups" type="button" title="Replace groups" style="display: none;">
          <sl-icon slot="prefix" name="clipboard-check"></sl-icon>
          Replace groups
        </sl-button>
      </sl-button-group>
    </div>
    <table id="groupstable" style="display:inline-block; max-height: calc(100vh - var(--bottom-margin)); width: auto; overflow-y: auto;" class="bordered">
      <thead>
        <tr class="sticky">
          <th>Actions</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>

</div>

<%- include('partials/commondialogs.ejs') %>
<%- include("partials/useredit.ejs") %>
<%- include("partials/usernew.ejs") %>
<%- include("partials/useractivity.ejs") %>
<%- include("partials/grouppicker.ejs") %>

</div>

<script defer type="module" src="/public/js/users.js"></script>
<script defer type="module" src="/public/js/grouppicker.js" type="text/javascript"></script>
<script defer type="module" src="/public/js/userpicker.js" type="text/javascript"></script>

<%- include('partials/footer.ejs') %>