<%- include('partials/header.ejs') %>

<div class="page-container" id="page_users">

  <%- include('partials/topbar.ejs') %>
  <%- include('partials/sidebar.ejs') %>
  <%- include('partials/csrf.ejs') %>

  <div class="main1" >
    <h2>Users</h2>
    <div style="display:flex;">
      <wa-input id="usersearch" type="text" placeholder="Search users" autofocus="autofocus" clearable>
        <wa-icon slot="prefix" name="search"></wa-icon>
      </wa-input>
      <wa-button id="newuser" variant="brand" title="Create a new user" style="margin-left:1em">
        <wa-icon slot="prefix" name="plus"></wa-icon>
        New user
      </wa-button>
    </div>
    <table id="userstable" style="display:block; max-height: calc(100vh - var(--bottom-margin)); overflow-y: auto;">
      <thead>
        <tr class="sticky">
          <th>Actions</th>
          <th>Login</th>
          <th>Last name</th>
          <th>First name</th>
          <th>Email</th>
          <th>Locale</th>
          <th>Auth method</th>
          <th>Active</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>

  <div class="main2">
    <h2>Groups</h2>
    <div style="display: flex;">
      <wa-button-group>
        <wa-button id="addgroup" appearance="outlined" title="Add group membership">
          <wa-icon slot="prefix" name="plus"></wa-icon>
          Add group
        </wa-button>
        <wa-button id="copygroups" appearance="outlined" title="Copy groups">
          <wa-icon slot="prefix" name="copy"></wa-icon>
          Copy groups
        </wa-button>
        <wa-button id="pastegroups" appearance="outlined" title="Paste groups" style="display: none;">
          <wa-icon slot="prefix" name="paste"></wa-icon>
          Paste groups
        </wa-button>
        <wa-button id="replacegroups" appearance="outlined" title="Replace groups" style="display: none;">
          <wa-icon slot="prefix" name="file-import"></wa-icon>
          Replace groups
        </wa-button>
      </wa-button-group>
    </div>
    <table id="groupstable" style="display:inline-block; max-height: calc(100vh - var(--bottom-margin)); width: auto; overflow-y: auto;">
      <thead>
        <tr class="sticky">
          <th>Actions</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>

</div>

<%- include('partials/commondialogs.ejs') %>
<%- include("partials/useredit.ejs") %>
<%- include("partials/usernew.ejs") %>
<%- include("partials/useractivity.ejs") %>
<%- include("partials/picker.ejs") %>
<%- include("partials/folderstreedialog.ejs") %>

</div>

<script defer type="module" src="/public/v<%= version %>/js/users.js"></script>

<%- include('partials/footer.ejs') %>