<%- include('partials/header.ejs') %>

<div class="page-container">

  <%- include('partials/topbar.ejs') %>
  <%- include('partials/sidebar.ejs') %>
  <%- include('partials/csfr.ejs') %>

  <div class="main1" >
    <h2>Users</h2>
    <div style="display:flex;">
      <sl-input id="usersearch" type="text" placeholder="Search users" autofocus="autofocus" clearable>
        <sl-icon slot="suffix" name="search"></sl-icon>
      </sl-input>
      <sl-button id="newuser" type="button" title="New user" style="margin-left:1em">
        <sl-icon slot="prefix" name="plus-lg"></sl-icon>
        New user
      </sl-button>
    </div>
    <table id="userstable" style="display:block; max-height: calc(100vh - 12rem); overflow-y: auto;">
      <thead>
        <tr class="sticky">
          <th colspan="2">Actions</th>
          <th>Login</th>
          <th>Last name</th>
          <th>First name</th>
          <th>Email</th>
          <th>Locale</th>
          <th>Auth method</th>
          <th>Active</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>

  <div class="main2">
    <h2>Groups</h2>
    <sl-button id="addgroup" type="button" title="Add group">
      <sl-icon slot="prefix" name="plus-lg"></sl-icon>
      Add group
    </sl-button>
    <table id="groupstable">
      <thead>
        <tr class="sticky-top">
          <th>Actions</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>

</div>

<%- include('partials/commondialogs.ejs') %>
<%- include("partials/useredit.ejs") %>
<%- include("partials/usernew.ejs") %>
<%- include("partials/grouppicker.ejs") %>

</div>

<script src="/public/js/users.js"></script>

<%- include('partials/footer.ejs') %>